*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-track {
    background-color: #121212;
}

*::-webkit-scrollbar-thumb {
    background-color: purple;
    border-radius: 10px;
}

*::-webkit-scrollbar-corner {
    background-color: black;
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    color: white;
}

.displayFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexRow {
    flex-direction: row;
}

.flexColumn {
    flex-direction: column;
}

body {
    background: #ff00cc;
    background: -webkit-linear-gradient(to right, #333399, #ff00cc);
    background: linear-gradient(to right, #333399, #ff00cc);
}

.header {
    gap: 10px;
    background-color: #121212;
    height: 55px;
    justify-content: space-between;
}

.header #logoHeader {
    width: 110px;
}

.nav {
    padding-right: 20px;
}

.nav .ul {
    flex-wrap: wrap;
    gap: 25px;
}

.nav .ul li {
    list-style: none;
    font-size: 20px;
    cursor: pointer;
}

.nav .ul .run {
    align-items: end;
    width: 80px;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    background: #ff00cc;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #333399, #ff00cc);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #333399, #ff00cc);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

.ide {
    margin-top: 5px;
    justify-content: start;
    gap: 5px;
}

.ide .codeEditor {
    outline: none;
    border: none;
    font-size: 23px;
    background-color: #121212;
    padding: 10px;
    height: 100%;
    width: auto;
    resize: horizontal;
    overflow: auto;
    border-top-right-radius: 5px;
}

.ide .console {
    flex: auto;
    height: 100%;
    gap: 5px;
}

.ide .console .outputProgram {
    padding: 10px;
    width: 100%;
    height: auto;
    max-height: 50%;
    resize: vertical;
    overflow: auto;
    background-color: #050505;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 23px;
}

.ide .console .utilities {
    font-size: 23px;
    padding: 10px;
    width: 100%;
    flex: auto;
    background-color: #121212;
    border-top-left-radius: 5px;
    justify-content: start;
    gap: 30px;
    overflow: auto;
    flex-wrap: wrap;
}

.ide .console .utilities .controlls {
    flex: 1;
    min-width: 100px;
    height: 100%;
    border-right: solid #7119cf 3px;
}

.ide .console .utilities .controlls .title {
    margin-bottom: 14px;
}

.ide .console .utilities .controlls .containerController {
    width: 90%;
    background-color: #181818;
    gap: 10px;
    padding: 5px;
    border-radius: 5px;
    justify-content: start;
    flex-wrap: wrap;
}

.ide .console .utilities .controlls .containerController input{
    padding: 3px;
    appearance: none;
    background: #050505;
    font-size: 18px;
    height: 30px;
    width: 70px;
    outline: none;
    border: none;
    border-radius: 5px;
}


.ide .console .utilities .memoryView {
    justify-content: start;
    align-items: start;
    height: 100%;
    max-height: 60vh;
    min-width: 100px;
    max-width: 30vw;
    flex: 1.9;
    gap: 10px;
    overflow: auto;
}

.ide .console .utilities .memoryView .memory {
    justify-content: start;
    flex-wrap: wrap;
}

.ide .console .utilities .memoryView .memory .memoryCell {
    padding: 10px;
    margin: 3px;
    border: 3px solid white;
    border-radius: 3px;
}

@media screen and (max-width: 732px) {
    .ide {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 0;
        padding: 5px;
    }

    .ide .codeEditor {
        border-radius: 5px;
        resize: none;
        overflow: auto;
        max-height: 500px;
        flex: auto;
    }

    .ide .console .utilities {
        flex-direction: column;
    }

    .ide .console .utilities .controlls {
        flex: 0;
        width: 100%;
        border: none;
    }

    .ide .console .outputProgram {
        border-radius: 5px;
    }

    .ide .console .utilities .memoryView {
        max-width: none;
        border-radius: 5px;
    }

    .header .nav {
        padding: 5px;
    }

    .notRun {
        display: none;
    }
}